body{
	background: url(https://images.unsplash.com/photo-1524985069026-dd778a71c7b4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1502&q=80);
	background-size: cover;
	background-position: center;
	font-family:  sans-serif;
	background-color : black;
	background-repeat: no-repeat;
}
#header{
    color: #e50914;
    text-align: center;
    font-family: serif;
    font-size: 47px;
    font-weight: 500;
    margin-top: 40px;
}
.navbar-brand {
    font-size: 2.3rem;
    color: #e50914;
    font-family: serif;
	margin-left : auto;
	margin-right : auto;
    font-weight: 500;
    letter-spacing: 3px;
}
}

.container{
	width : 40%;
	margin : 7rem auto;
}
h1{
	color: #fff;
    text-shadow: 3px 3px #000;
	margin-top: 5rem;
    font-size: 3.6rem;
    text-align: center;
    margin-bottom: 1.8rem;
}
h3{
	color: #fff;
    text-shadow: 3px 3px #000;
    font-weight: 200;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.form{
	border-radius: none;
}
button {
    font-family: sans-serif;
    width: 100%;
    background-color: #e50914;
    color: white;
    font-size: 1.7rem;
    font-weight: 100;
    text-transform: uppercase;
    border: none;
}
.input-group>.form-control:not(:last-child) {
    height: 3.5rem;
    border: none;
    padding: 1.5rem 12rem 1.5rem 2rem;
    width: 63%;
    font-size: 1.8rem;
    font-family: sans-serif;
    font-weight: 300;
}
a:hover{
	color : #e50914;
}
button:hover{
	background-color : red;
}
ul {
    margin: 0;
    width: max-content;
    padding: 0;
    background: rgba(0,0,0,0.4);
}
#container{
	margin: 0 auto;
	width: 360px;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}
li{
    list-style: none;
    line-height: 40px;
    height: 40px;
}
li:hover {
    background: rgba(0,0,0,0.9);
}
@media(max-width: 450px){
	 h1{
		font-size: 1.2rem;
	}
	h3{
		font-size : 0.6rem;
	}
	.input-group>.form-control:not(:last-child) {
    width: 57%;
    padding: inherit;
    font-size: 13px;
    height: auto;
    font-weight: 100;
	
}
	button {
    width: 100%;
    color: white;
    font-size: 13px;
    font-weight: 100;
}
	.navbar-brand {
    font-size: 1.5rem;
    letter-spacing: 0px;
}
	body{
		margin-bottom : 100px;
	}
}